.onee{
	border: 2px solid black;
    padding: 5px 5px 5px 700px;
    margin: 5px 5px 5px 5px;
}
.one{
	border:2px solid black;
	margin: 50px 20px 10px 120px;
	padding: 310px 50px 2px 50px;
	width: 200px;
	display: inline-block;
}
.center{
	padding: 30px 15px 60px 15px;
	margin: 20px 40px 10px 100px;
	display: inline-block;
	border: 2px solid black;

}
td{
	width: 100px;
	border: 2px solid black;
	padding: 50px 50px 50px 50px;
}
.three{
	padding: 5px 5px 5px 5px;
    margin: 30px 1px 1px 65px;
    border: 2px solid black;
    display: inline-block;
}
.four{
	border: 2px solid black;
	padding: 10px 10px 10px 750px;
 margin: 5px 5px 5px 5px;
}

