.container{
			border: 3px solid black;
			padding: 10px;
		}
		.header{
			border: 2px solid black;
			padding: 5px 0px 5px 550px;
			margin: 10px;
		}
		.navigation{
			border: 2px solid black;
			padding: 10px;
			margin: 10px;
		}
		.link{
			padding: ;
		}
		.img1,.img2,.img3,.img4{
			display: inline-block;
			border: 2px solid black;
			height: 345px;
			width: 345px;
			padding: 5px;
			margin: auto;

		}
		.img1{
			margin-left: 10px;
			
		}
		.img2{
			margin-left: 8.45px;
		}
		.img3{
			margin-left: 8.40px;
		}
		.img4{
			margin-left: 8.35px;
		}
		.li1{
			margin-left: 150px;
		}
		.li2{
			margin-left: 330px;
		}
		.li3{
			margin-left: 330px;
		}
		.li4{
			margin-left: 330px;
		}
		.footer{
			border: 2px solid black;
			padding: 5px 0px 5px 730px ;
			margin: 10px;
		}